output_files/
db/
riscv.qws
c5_pin_model_dump.txt
incremental_db/
vunit_out/
venv/
src/test
src/test.s
src/test.o
src/startup
src/startup.o
src/game_of_life
src/game_of_life.s
src/game_of_life.o
src/test_10_edge_cases
src/test_10_edge_cases.o
src/test_10_edge_cases.s
src/test_1_arithmetic_extended
src/test_1_arithmetic_extended.o
src/test_1_arithmetic_extended.s
src/test_2_branches_extended
src/test_2_branches_extended.o
src/test_2_branches_extended.s
src/test_3_memory_jumps
src/test_3_memory_jumps.o
src/test_3_memory_jumps.s
src/test_4_structs
src/test_4_structs.o
src/test_4_structs.s
src/test_5_arrays_2d
src/test_5_arrays_2d.o
src/test_5_arrays_2d.s
src/test_6_linked_lists
src/test_6_linked_lists.o
src/test_6_linked_lists.s
src/test_7_pointers_advanced
src/test_7_pointers_advanced.o
src/test_7_pointers_advanced.s
src/test_8_recursion
src/test_8_recursion.o
src/test_8_recursion.s
src/test_9_mixed
src/test_9_mixed.o
src/test_9_mixed.s
src/riscv_assignment_defaults.qdf
